@model AppointmentSystem.Models.ViewModel.AppointmentViewmodel

@{
    ViewData["Title"] = "Create Appointment";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}


<h1>Create Appointment</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="OfficerId" class="control-label"></label>
        <select asp-for="OfficerId" class="form-control" asp-items="ViewBag.Officers" id="OfficerId">
            <option value="">-- Select Officer --</option>
        </select>
        <span asp-validation-for="OfficerId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="VisitorId" class="control-label"></label>
        <select asp-for="VisitorId" class="form-control" asp-items="ViewBag.Visitors" id="VisitorId">
            <option value="">-- Select Visitor --</option>
        </select>
        <span asp-validation-for="VisitorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" type="date" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartTime" class="control-label"></label>
        <input asp-for="StartTime" class="form-control" type="time" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndTime" class="control-label"></label>
        <input asp-for="EndTime" class="form-control" type="time" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    @* <div class="form-group"> *@
    @*     <label asp-for="Status" class="control-label"></label> *@
    @*     <select asp-for="Status" class="form-control"> *@
    @*         <option value="Active">Active</option> *@
    @*         <option value="Cancelled">Cancelled</option> *@
    @*         <option value="Deactivated">Deactivated</option> *@
    @*         <option value="Completed">Completed</option> *@
    @*     </select> *@
    @*     <span asp-validation-for="Status" class="text-danger"></span> *@
    @* </div> *@

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a href="@Url.Action("Index", "Appointment")" class="btn btn-secondary">Back to Appointments</a>
